@import "scrollbars.css";

/* New Tab Flash */
:root {
  --primary-color: #242933;
  --secondary-color: #d8dee9;
  --accent-color: #81a1c1;
  --newtab-textbox-background-color: var(--primary-color);
  /* hide scroll bar */
  scrollbar-width: none;
}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type="content-primary"],
browser[type="content"] > html {
  background: var(--primary-color) !important;
}

.tab-line {
  display: none !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
  fill: var(--accent-color) !important;
  background-color: var(--primary-color) !important;
}

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
}

/* remove some borders */
#navigator-toolbox {
  border: none !important;
}

#titlebar {
  border: none !important;
}

#tabbrowser-tabs {
  background-color: var(--primary-color) !important;
}

/* remove lines */

#navigator-toolbox::after {
  display: none !important;
}

#nav-bar,
#TabsToolbar {
  border: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

tab {
  height: 2rem;
  background-color: var(--primary-color) !important;
  font-weight: thin !important;
  color: var(--secondary-color) !important;
}

.tab-content[selected="true"] {
  background-color: var(--primary-color) !important;
  font-weight: bold !important;
  color: var(--secondary-color) !important;
}

#nav-bar-customization-target {
  background-color: var(--primary-color) !important;
}

#urlbar {
  box-shadow: none !important;
  background-color: var(--primary-color) !important;
  background: none !important;
  border: none !important;
  color: var(--secondary-color) !important;
  font-weight: bold !important;
}

#urlbar:hover {
  box-shadow: none !important;
}

#tracking-protection-icon-container,
#pageActionSeparator {
  border-inline-width: 0px !important;
}

.urlbar-icon,
.urlbar-icon-wrapper,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
#tracking-protection-icon-container,
.findbar-textbox ~ toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down {
  background-color: transparent !important;
}

.tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected="true"]):not([multiselected]) {
  background-color: transparent !important;
}

#navigator-toolbox {
  margin-top: 0px;
  padding-top: 0px !important;
}

#toolbar-menubar {
  position: fixed;
  top: 0px;
}

/*Hide tabs bar if one tab is opened
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}

#tabbrowser-tabs #tabs-newtab-button {
  visibility: collapse !important;
}
*/

#navigator-toolbox {
  --tabs-border-color: var(--primary-color) !important;
}

toolbarseparator {
  display: none !important;
}

.panel-arrowcontainer {
  background-color: var(--primary-color) !important;
}

#PopupAutoComplete {
  background-color: var(--primary-color) !important;
}

#PopupSearchAutoComplete {
  background-color: var(--primary-color) !important;
}

#PanelUI-button {
  border: none !important;
  margin-inline-start: 0px !important;
  padding-inline-start: 0px !important;
}

.urlbarView {
  /*background:var(--primary-color) !important;*/
}

panelview {
  background-color: var(--primary-color) !important;
  --panel-separator-color: none !important;
}

/*smaller tab bar*/
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* only needed once */

/* tabs: height */
:root {
  --tab-toolbar-navbar-overlap: 0px !important;
  /* fix for full screen mode */
  --tab-min-height: 30px !important;
}

:root #tabbrowser-tabs {
  --tab-min-height: 30px !important;
}

#TabsToolbar {
  height: var(--tab-min-height) !important;
}

/* override vertical shifts when moving a tab */
#TabsToolbar[movingtab] {
  padding-bottom: 0px !important;
}

#TabsToolbar[movingtab] > .tabbrowser-tabs {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

#TabsToolbar[movingtab] + #nav-bar {
  margin-top: 0px !important;
}

/*tabs below nav bar
#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}
*/

/* highlight urlbar in private mode only
#main-window[privatebrowsingmode=temporary] {
  --toolbar-field-focus-border-color: rgb(128,0,215) !important;
}
*/

/* highlight urlbar in private mode only */
#main-window {
  --toolbar-field-focus-border-color: var(--accent-color) !important;
  --toolbar-field-focus-background-color: var(--primary-color) !important;
}
